body, html {
	margin: 0;
	padding: 0;
	width: 100vw;
	min-height: 100vh;
    height: auto;
	overflow: hidden;
}

.scroll-container {
	width: 100vw;
	height: 100vh;
}

.scroll-container section {
	width: 100vw;
	height: 92vh;
	padding-bottom: 8vh;
}

.dots {		
	list-style: none;
	padding: 0;
}

.dots li a {
	padding: 1.2vh 1.2vw;
	display: block;
	cursor: default;
}

.dots li a:before {
	content: '';
	position: absolute;
	width: .8vh;
	height: .8vh;
	margin-left: .4vh;
	background: #363020BB;
	border-radius: 1vh;	
	transition:  all .7s ease-in;
	/* border: .1vh solid #FFFFFFBB; */
	box-shadow: 0 0 .5vh #FFFFFF;
}

.dots li a.active:before {
	content: '';
	width: 1.6vh;
	height: 1.6vh;
	margin-left: 0;
	margin-top: -.4vh;
	background-color: #363020DD;
	transform: scale(1);
	box-shadow: 0 0 1vh #FFFFFF;
}

.navigation-right {
    height: 100vh;
    width: fit-content;
    padding-right: 1em;
    z-index: 200;
    position: absolute;
    right: 0;
}

.navigation-right>ul {
	margin: 0;
    clear: both;
}

.navigation-right>div {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50px;
}