@media all and (min-width:981px) {
    article .back-button {
        margin-right: 5vw;
    }

    article .next-button {
        margin-left: 5vw;
    }

    article {
        overflow: hidden;
        height: 87vh;
    }
}