---
layout: default
---


<div class="wrapper wrapper-content  animated fadeInRight post article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox blog">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="pull-right">
                                {% for category in page.categories %}
                                <a class="btn btn-white btn-xs"
                                    href="{{ category | downcase | prepend: '/' | prepend: site.baseurl }}">{{ category }}</a>
                                {% endfor %}
                            </div>
                            <div class="text-center article-title">
                                <div class="navy-line"></div>
                                <h1>
                                    {{ page.title }}
                                </h1>
                                <span class="text-muted"><i class="fa fa-clock-o"></i>
                                    {{ page.date | date: "%-d %b %Y" }}</span>

                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="wrapper wrapper-content animated fadeInRight">
                                {{ content }}

                                {% if page.story %}
                                <div class="wrapper wrapper-content animated fadeInRight" style="clear:both">
                                    <div class="text-center article-title" style="margin:auto; padding: 40px 0 20px;">
                                        <div class="navy-line" style="margin: auto"></div>
                                        <h1>
                                            <h1>Read on</i></h1>
                                        </h1>
                                        {% assign completeStory = site.posts | where_exp: "item", "item.story == page.story" %}
                                        {% for post in completeStory %}
                                        <div style="padding-top: 3px;"><a href="{{ post.url | prepend: site.baseurl}}">{{ post.title }}</a></div>
                                        <div style="color:#888">{{ post.description }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 style="display: inline;">Tags:</h5>
                                        {% for tag in page.tags %}
                                        <button class="btn btn-white btn-xs" type="button">{{ tag }}</button>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="small text-right">
                                            <div>
                                                {% if site.disqus %}
                                                <i class="fa fa-comments-o"> </i> <span class="disqus-comment-count"
                                                    data-disqus-url="{{ site.url }}{{ page.url }}">0</span> comments
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- donate -->
                                        {% if site.donation %}
                                        {% include donate.html %}
                                        {% endif %}
                                        <br>
                                        <!-- share -->
                                        {% include share.html %}
                                        <br>
                                        <!-- comment -->
                                        {% include comments.html %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>